.section {
  padding: 120px 20px;
  background: #ffffff;
}

.container {
  max-width: 1600px;
  margin: auto;
}

/* HEADER */
.header {
  max-width: 720px;
  margin-bottom: 90px;
  text-align: center;
  margin: auto auto 80px auto;
}

.heading {
  font-size: 45px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 16px;
}

.subheading {
  font-size: 16px;
  line-height: 1.7;
  color: #475569;
}

/* ROWS */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  margin-bottom: 120px;
}

.reverse {
  direction: rtl;
}

.reverse > * {
  direction: ltr;
}

/* IMAGE */
.imageWrap {
  position: relative;
  width: 100%;
  height: 460px;
  border-radius: 16px;
  overflow: hidden;
}

.imageWrap img {
  object-fit: cover;
}

/* TEXT */
.text h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #0f172a;
}

.text p {
  font-size: 16px;
  line-height: 1.7;
  color: #475569;
  max-width: 520px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .row {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-bottom: 80px;
  }

  .reverse {
    direction: ltr;
  }

  .imageWrap {
    height: 360px;
  }

  .heading {
    font-size: 32px;
  }
  .text p {
  font-size: 14px;

  max-width: 1220px;
}
}
