.section {
  padding: 110px 20px;
  background: #ffffff;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  max-width: 820px;
  margin: 0px auto 40px auto;
  text-align: center;
}

.heading {
  font-size: 43px;
  font-weight: 700;
  line-height: 1.25;
  color: #153657;
  margin-bottom: 2px;
}

.subheading {
  font-size: 16px;
  line-height: 1.7;
  color: #153657;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

/* CARD */
.card {
  border-radius: 16px;
  padding: 28px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0 5px 10px #07439e33;
  transition: background 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

/* ACTIVE */
.active {
  background: #0b1f33;
  border-color: #0b1f33;
}

/* ICON */
.icon {
  width: 54px;
  height: 54px;
  border-radius: 12px;
  background: #eef2ff;
  color: #1e40ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 18px;
}

.active .icon {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

/* TEXT */
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #0b1f33;
}

.active .title {
  color: #ffffff;
}

/* TEXT ANIMATION */
.textWrap {
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.45s ease;
}

.open {
  max-height: 320px;
}

.text {
  font-size: 15px;
  line-height: 1.7;
  color: #4b5563;
}

.active .text {
  color: #c7d4df;
}

/* HOVER */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.08);
}

/* RESPONSIVE */
@media (max-width: 390px) {
  .heading {
    font-size: 25px !important;
    width: 100%;
  }
  .subheading {
    font-size: 12px !important;
  }
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    margin-bottom: 50px;
  }

  .heading {
    font-size: 30px;
  }
}
