.wrapper {
  width: 100%;
  padding: 120px 20px 70px;
  background: #ffffff;
  text-align: center;
}

.heading {
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 700;
  margin-bottom: 32px;
  color: #0f172a;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.tab {
  padding: 12px 22px;
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  background: #f5f5f5;
  font-size: 14px;
  cursor: pointer;
}

.active {
  background: #5b7cff;
  color: #fff;
  box-shadow: 0 0 12 1px #6db2e0;
}

/* CONTENT LAYOUT */
.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 100px;
  text-align: left;
}

/* TEXT */
.textAnim {
  flex: 1;
  max-width: 1220px;

  animation: slideFromLeft 0.6s ease forwards;
}

.tag {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #64748b;
}

.textAnim h3 {
  font-size: clamp(26px, 3vw, 30px);
  font-weight: 700;
  margin: 14px 0;
}

.textAnim p {
  font-size: 16px;
  line-height: 1.7;
  color: #475569;
}

/* IMAGE */
.imageAnim {
  flex: 1;
  animation: slideFromRight 0.6s ease forwards;
}

.imageWrap {
  width: 100%;
  max-width: 600px;
  height: 380px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ANIMATIONS */
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* RESPONSIVE */
@media (max-width: 400px) {
    .textAnim p {
  font-size: 12px;
}
}
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .textAnim {
    max-width: 100%;
  }

  .imageWrap {
    height: 260px;
  }
}
