.hero {
  position: relative;
  height: 80vh;
  width: 100%;
  color: #fff;
  display: flex;
}

/* Image layer */
.heroImage {
  position: absolute;
  inset: 0;
  background-image: url("/hero/heroSection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Dark overlay ONLY on image */
.heroImage::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

/* Content layer */
.heroContent {
  position: relative;
  z-index: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.heroContent h2 {
  font-size: 4rem;
  width: 100%;
  max-width: 800px;
}

.heroContent p {
  font-size: 17px;
  color: rgb(228, 228, 228);
  width: 100%;
  max-width: 700px;
}

.heroContent button {
  width: 160px;
  color: white;
  height: 40px;
  font-size: 1rem;
  margin: 1rem 0;
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(135deg, #1a56db, #3b82f6);
  border-radius: 6px;
  transition: all 0.2s;
  box-shadow: 0 2px 10px rgba(26, 86, 219, 0.2);
}
