.section {
  padding: 120px 20px;
  background: #ffffff;
}

.light {
  background: #ffffff;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* IMAGE */
.imageWrap {
  position: relative;
  width: 100%;
  height: 370px;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

/* CONTENT */
.content {
  max-width: 520px;
}

.title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 1.7;
  color: #475569;
  margin-bottom: 16px;
}

.cta {
  margin-top: 20px;
  background: transparent;
  color: #2563eb;
  border: 2px solid #2563eb;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.card {
  background: #314b83;
  color: #ffffff;
  height: 160px;
  border-radius: 14px;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}

.icon {
  font-size: 34px;
  color: #d4dcec;
}

.card h3 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 34px;
  }

  .imageWrap {
    height: 340px;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 80px 16px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    height: 140px;
  }

  .title {
    font-size: 30px;
  }
}
