.section {
  background: #06263c;
  padding: 120px 20px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 80px;
  align-items: center;
}

/* LEFT */
.left {
  color: #ffffff;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: rgba(46, 213, 173, 0.15);
  color: #2ed5ad;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

.title {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
}

.title span {
  color: #5b7cff;
}

.description {
  max-width: 520px;
  font-size: 16px;
  line-height: 1.7;
  color: #c7d4df;
  margin-bottom: 14px;
}

.cta {
  padding: 14px 40px;
  background: linear-gradient(135deg, #1a56db, #3b82f6);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta:hover {
  background: #4a6bff;
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(91, 124, 255, 0.35);
}

/* RIGHT */
.right {
  position: relative;
}

/* Floating circles */
.circleOne {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: rgba(91, 124, 255, 0.25);
  top: -40px;
  right: 40px;
  z-index: 1;
}

.circleTwo {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(46, 213, 173, 0.25);
  bottom: 20px;
  left: 40px;
  z-index: 1;
}

/* Image Circle */
.imageCircle {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  position: relative;
  z-index: 2;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.35);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 390px) {
  .left{
    text-align: center;
  }
}
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .imageCircle {
    margin: auto;
    width: 300px;
    height: 300px;
  }

  .title {
    font-size: 32px;
  }
}
